%div
  .row
    .col-1
    .col-10.justify-content-center
      %br
      %h3.text-center Support Request
      = form_for @issue do |f|
        - if @issue.errors.any?
          #error_explanation
            %h6= "#{pluralize(@issue.errors.count, "error")} prohibited this issue from being saved:"
            %ul
              - @issue.errors.full_messages.each do |message|
                %li= message
        .form-row
          .form-group.col-12
            = f.label :title
            = f.text_field :title, placeholder: "What kind of support", class: "form-control", maxlength: "60"
          .form-group.col-12
            = f.label :description
            = f.text_area :description, placeholder: "Details of the support you need ", class: "form-control"
          .form-group.col-4
            = f.label :Reward
            = f.text_field :incentive, placeholder: "Reward: $2, breakfast, hug", class: "form-control", maxlength: "20"
          .form-group.col-4
            = f.label :date
            = f.date_field :date, class: "form-control", min: Time.now, max: Time.now + 604800
          .form-group.col-4
            = f.label :"Meeting time"
            = f.select :interval, interval_option, {}, class: "form-control" 
          .form-group.col-6.text-left
            = link_to 'Back', dispatcher_send_to_url, class:"btn btn-secondary"
          .form-group.col-6.text-right
            = f.submit 'Save', class: "btn btn-primary"
    .col-1

      