.row
  .col-2.mt-5 
    .mt-4.text-right
      = link_to 'Back', dispatcher_send_to_url, class:"btn btn-secondary"
  .col-8
    %h3.text-center Support requestes
    = render partial: 'partials/cards'
    .row
      .col-12.pagination.pagination-lg.justify-content-center
        = will_paginate @issues, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
  .col-2.mt-5
