.row
  .col-1
  .col-10
    %h3.text-center Support requested
    %br
      .card{:style => "width: 100%"}
        .card-header
          %h5.card-title 
            = @issue.title
        .card-body
          %h6.card-subtitle.mb-2.text-muted
            .row
              .col{:style => "text-align:left"}
                = @issue.user.username
              .col{:style => "text-align:center"}
                = @issue.date
              .col{:style => "text-align:center"}
                = @issue.incentive
              .col{:style => "text-align:right"}
                - if @issue.status
                  - if current_user.email == @issue.mentor
                    %p{:style => "color:purple"} Assigned to you
                  - else
                    %p{:style => "color:red"} Assigned
                - else 
                  %p{:style => "color:green"} To be asigned
          %p.card-text 
            %p
              = @issue.description
              .row
                .col-3
                  .text-left
                    = link_to 'Back', :back, class: "btn btn-secondary aling-self-end"
                .col-9
                  .text-right
                    - if @role == "admin"
                      = link_to 'Show', @issue, class: "btn btn-secondary"
                      = link_to 'Edit', edit_issue_path(@issue), class: "btn btn-info"
                      = link_to 'Destroy', @issue, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
                    - else
                      = link_to 'Show', @issue, class: "btn btn-secondary"
                      - if @issue.status == false
                        = link_to 'Ok', @issue,remote: true, method: :put, class: "btn btn-primary"
                      - elsif current_user.email == @issue.mentor
                        = link_to 'Cancel', @issue, method: :put, data: { confirm: '¿Cancel?' }, class: "btn btn-danger"
      %br
    %br
    %br
  .col-1 
