= render partial: 'partials/calendar'
.row.mt-5
  .col-2
  .col-8
    %h3.text-center My Support Requests
    = render partial: 'partials/cards'
  .col-2.mt-5 
    .mt-4
      -# MODAL
      = render partial: 'partials/modal_issue_new'
      = link_to 'New Support Request', new_issue_path, class:"btn btn-primary"
   