#calendar
    .row.bg-light.p-4.m-3.border-dashed
        - if @user.role == "student"
            =content_tag :btn, class: 'newissue rounded-circle border-dashed mr-2 text-center align-self-center p-2', "data-target" => "#newissue", "data-toggle" => "modal" do
                =fa_icon "plus"
        - if @user.role == "mentor"
            =link_to issues_path, class: 'newissue rounded-circle border-dashed mr-2 text-center align-self-center p-2' do
                =content_tag :btn do
                    =fa_icon "search-plus"
        - if Issue.current(@user).count == 0 && @user.role == "student"
            .mr-2.animated.infinite.tada.nowrap
                =fa_icon "arrow-left 3x"
            .animated.infinite.pulse.mt-3.ml-2.font-weight-bold
                CREATE NEW ISSUE!
        - if Issue.mentor(@user).count == 0 && @user.role == "mentor"
            .mr-2.animated.infinite.tada.nowra
                =fa_icon "arrow-left 3x"
                
            .animated.infinite.pulse.mt-3.ml-2.font-weight-bold
                START HELPING LOOKING FOR ISSUES!
        -if @user.role == "student"                
            -Issue.current(@user).no_appointment.each do |issue|
                = content_tag :div, id: 'yes-drop', class: 'drag-drop rounded-circle tap', issueid: issue.id, data: { draggable: true, url: date_status_url(issue)} do
                    %img.rounded-circle{:height => "41", :width => "41" ,:src => "https://robohash.org/#{issue.user.username}.png?size=258x180"}/ 

            -if Issue.current(@user).valid.count == 0 && Issue.current(@user).count > 0
                .pl-2.mr-2.animated.infinite.tada.nowrap
                    =fa_icon "arrow-down 3x"
                .animated.infinite.pulse.font-weight-bold.float-right.mt-3.ml-2
                    drag issue!
                    
        -if @user.role == "mentor"                
            -Issue.mentor(@user).no_appointment.each do |issue|
                = content_tag :div, id: 'yes-drop', class: 'drag-drop rounded-circle tap', issueid: issue.id, data: { draggable: true, url: date_status_url(issue)} do
                    %img.rounded-circle{:height => "41", :width => "41" ,:src => "https://robohash.org/#{issue.user.username}.png?size=258x180"}/ 

                        
            -if Issue.mentor(@user).valid.count == 0 && Issue.mentor(@user).count > 0
                .pl-2.mr-2.animated.infinite.tada.nowrap
                    =fa_icon "arrow-down 3x"
                .animated.infinite.pulse.font-weight-bold.float-right.mt-3.ml-2
                    drag issue! 

    .row.m-2
        .col.p-3
        -@weekday.map do |date|
            .col.border.bg-info.p-3
                =date.strftime("%a, %d %b")
                -if date == @today
                    .badge.badge-success   
                        today
        
    .row.m-2
        .col.d-flex-flex-column.p-0
            -@hour.map do |time|
                .col.border.p-4
                    =time

        - 7.times do |x|
            .col.d-flex.flex-column.p-0
                - 11.times do |y|
                    =content_tag :date, class: "dropzone col border p-4 acepted_value", id: "acepted_value", date: @weekday[x], interval:@hour[y], index: y + x * 11 do
                        -if @user.role == "student"
                            -Issue.current(@user).appointment(@weekday[x],@hour[y]).each do |issue|	     
                                = content_tag :div,id: 'yes-drop',class: 'drag-drop rounded-circle',data: { draggable: true, url: date_status_url(issue) } do
                                    %img.rounded-circle{:height => "45", :width => "45" ,:src => "https://robohash.org/#{issue.user.username}.png?size=258x180"}/ 
                        - else                           
                            -Issue.mentor(@user).appointment(@weekday[x],@hour[y]).each do |issue|	     
                                = content_tag :div,id: 'yes-drop',class: 'drag-drop rounded-circle',data: { draggable: true, url: date_status_url(issue) } do
                                    %img.rounded-circle{:height => "45", :width => "45" ,:src => "https://robohash.org/#{issue.user.username}.png?size=258x180"}/ 
                             