%br
.row
  - @users.each do |user|
    .card.col-3
      %img.card-img-top{:alt => "Card image cap", :src => "https://robohash.org/#{user.username}.png?size=258x180"}/
      .card-body
        %h5.card-title 
          = user.username
        %p.card-text 
          = h truncate(user.email, :length => 25)
        %p.card-text
          - if user.role == 'admin'
            %p{:style => "color:purple"} ADMIN
          - elsif user.role == 'mentor'
            %p{:style => "color:blue"} Mentor
          - else
            %p{:style => "color:teal"} Student
        %small.text-muted 
          = user.created_at.strftime("%-d %bzo %Y")
        .col
          = render partial: '/partials/modal_user_show', locals: {user: user}
          -# Modal
          -# = render partial: '/partials/modal_user_edit', locals: {user: user}
          = link_to 'Edit', edit_user_path(user), class: "btn btn-sm btn-info"
          = link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm"
%br
          
       

