-if @issues.length == 0
  = render partial: '/partials/modal_issue_empty'
- else
  - @issues.each do |issue|
    .card{:style => "width: 100%"}
      .card-header
        %h5.card-title 
          = issue.title
      .card-body
        .row
          .col{:style => "text-align:center"}
            %h5 Name
          .col{:style => "text-align:center"}
            %h5 Date
          .col{:style => "text-align:center"}
            %h5 Reward
          .col{:style => "text-align:center"}
            %h5 Status

        .row
          .col{:style => "text-align:center"}
            - if issue.user.id == current_user.id
              %p{:style => "color:purple"}
                Yours
            -else
              %p
                #{issue.user.name}, #{issue.user.lastname}
          .col{:style => "text-align:center"}
            - if issue.date?
              = issue.date
          .col{:style => "text-align:center"}
            = issue.incentive
          .col{:style => "text-align:center"}
            - if issue.status
              - if current_user.email == issue.mentor
                %p{:style => "color:purple"} 
                  Assigned to you
              - else
                %p{:style => "color:red"} 
                  Assigned
            - else
              %p{:style => "color:green"}
                To be assigned
        %p.card-text 
          %p
            = h truncate(issue.description, :length => 238)
          .text-right
            %div
              - role = current_user.role
              = render partial: '/partials/modal_issue_show', locals: {issue: issue}
              - if role == 'admin'
                -# Modal
                -# = render partial: '/partials/modal_issue_edit', locals: {issue: issue}
                = link_to 'Edit', edit_issue_path(issue), class: "btn btn-info"
                = link_to 'Destroy', issue, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
              - elsif role == 'mentor'
                - if issue.status == false
                  = link_to 'Accept', issue, remote: true, method: :put, class: "btn btn-primary"
                - elsif current_user.email == issue.mentor
                  = link_to 'Unassign', issue, remote: true, method: :put, data: { confirm: '¿Cancel?' }, class: "btn btn-danger"
              - else 
                - if current_user.id == issue.user.id
                  -# Modal
                  -# = render partial: '/partials/modal_issue_edit', locals: {issue: issue}
                  = link_to 'Edit', edit_issue_path(issue), class: "btn btn-info" 
                  = link_to 'Destroy', issue, remote: true, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
    %br
  %br
                