%button.btn.btn-secondary{"data-target" => "#modal_show#{issue.id}", "data-toggle" => "modal", :type => "button"}
  Show
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal_show#{issue.id}", :role => "dialog", :tabindex => "-1", :id => "modal_show#{issue.id}"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h4#exampleModalLabel.modal-title.text-center
          = issue.title
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        .row.text-left
          .col-6
            %h5 User
            %span
              = issue.user.username
          .col-6
            %h5 Date
            - if issue.date?
              = issue.date
            - else
              %p{:style => "color:gray"}
                Date non assigned
          .col-6
            %h5 Reward
            = issue.incentive
          .col-6
            %h5 Meeting time
            = issue.interval
          .col-6
            %h5 Status
            - if issue.status
              - if current_user.email == issue.mentor
                %p{:style => "color:purple"} 
                  Assigned to you
              - else
                %p{:style => "color:red"} 
                  Assigned to #{issue.mentor}
            - else
              %p{:style => "color:green"}
                To be assigned
          .col-12
            %p
              = issue.description
        .row
          .col-6.text-left
            %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} close
          .col-6.text-right
            %div
              - role = current_user.role
              - if role == 'admin'
                -# = render partial: '/partials/modal_issue_edit', locals: {issue: issue}
                = link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
              - elsif role == 'mentor'
                - if issue.status == false
                  = link_to 'Accept', issue, method: :put, class: "btn btn-primary"
                - elsif current_user.email == issue.mentor
                  = link_to 'Unassign', issue, method: :put, data: { confirm: '¿Cancel?' }, class: "btn btn-danger"
              - else 
                - if current_user.id == issue.user.id
                  -# = render partial: '/partials/modal_issue_edit', locals: {issue: issue}
                  = link_to 'Destroy', issue, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger"
        

          