-# / Button
-# %button.btn.btn-primary{"data-target" => "#newissue", "data-toggle" => "modal", :type => "button"}
-#   New Support Request
/ Modal

#newissue.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{:role => "document"}
    %p#notice= notice
    = @var
    = form_for @issue, remote:true do |f|
      .modal-content
        .modal-header
          %h3#exampleModalLabel.modal-title New support request
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .form-row
            .form-group.col-12
              = f.text_field :title, placeholder: "Kind of support", class: "form-control", maxlength: "60"
            .form-group.col-12
              = f.text_area :description, placeholder: "Details of the support you need", class: "form-control"
            .form-group.col-12
              = f.text_field :incentive, placeholder: "Reward: e.g. $2, braekfast, hook", class: "form-control", maxlength: "20"
          .form-row
            .col-6.text-left
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} close    
            .col-6.text-right
              = f.submit 'Save', class: "btn btn-primary"
            