%button.btn.btn-info{"data-target" => "#modal_edit#{issue.id}", "data-toggle" => "modal", :type => "button"}
  Edit 
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal#{issue.id}", :role => "dialog", :tabindex => "-1", :id => "modal_edit#{issue.id}"}
  .modal-dialog.modal-lg{:role => "document"}
    = form_for issue, remote:true do |f|
      .modal-content
        .modal-header
          %h3#exampleModalLabel.modal-title Editando solicitud
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .form-row
            .form-group.col-12
              = f.text_field :title, placeholder: "Kind of support", class: "form-control", maxlength: "60"
            .form-group.col-12
              = f.text_area :description, placeholder: "Details of the support you need", class: "form-control"
            .form-group.col-8
              = f.text_field :incentive, placeholder: "Reward: e.g. $2, braekfast, hook", class: "form-control", maxlength: "20"
            .form-group.col-4
              = f.select :interval, :"7:00am" => "7:00am", :"8:00am" => "8:00am", :"9:00am" => "9:00am", :"10:00am" => "10:00am",:"11:00am" => "11:00am", :"12:00pm" => "12:00pm", :"1:00pm" => "01:00am", :"2:00pm" => "2:00am",:"3:00pm" => "3:00pm", :"4:00pm" => "4:00pm", :"5:00pm" => "5:00pm" 

            .form-group.col-12.text-left
              = f.label :date
              = f.date_field :date, class: "form-control", min: Time.now, max: Time.now + 604800
          .form-row
            .col-6.text-left
              %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} close    
            .col-6.text-right
              = f.submit 'Save', class: "btn btn-primary"
            