- if current_user.role == 'student'
  %div.mt-5.btn-link.col-12.text-right{:style => "text-decoration:none"}
    %h4{:style => "color:teal"}
      Click here!
      = fa_icon "arrow-right 1x"
    .card-body.text-center
      %p
        = fa_icon "edit 5x"
      %h2{:style => "color:teal"} You don't have any support request yet?
      %h5.text-muted Click on 'New support request' button, to create a new request in order to be seen by mentors
      %h5.text-muted The support request will be evaluated by our community of mentors
- elsif current_user.role == 'mentor'
  %div.mt-5.btn-link.col-12.text-right{:style => "text-decoration:none"}
    %h4{:style => "color:teal"}
      Click here!
      = fa_icon "arrow-right 1x"
    .card-body.text-center
      %p
        = fa_icon "edit 5x"
      %h2{:style => "color:teal"} You don't have any support request accepted yet?
      %h5.text-muted 
        Click on 'All support request' button, help some 
        %b Juniors 
        to be "Web Developers"
      %h5.text-muted  Teaching we learn...
- else
  %div.mt-5.btn-link.col-12.text-left{:style => "text-decoration:none"}
    %h4{:style => "color:teal"}
      = fa_icon "arrow-left 1x"
      Click here!
    .card-body.text-center
      %p
        = fa_icon "smile-o 5x"
      %h2{:style => "color:teal"} You should come back later
      %h5.text-muted It seems nobody needs support so far