%button.btn.btn-info.btn-sm{"data-target" => "#modal_edit#{user.id}", "data-toggle" => "modal", :type => "button"}
  Edit User
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal#{user.id}", :role => "dialog", :tabindex => "-1", :id => "modal_edit#{user.id}"}
  .modal-dialog.modal-lg{:role => "document"}
    = form_for user, remote:true do |f|
      .modal-content
        .modal-header
          %h3#exampleModalLabel.modal-title Editing user
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .form-row
            .form-group.col-md-4
              = f.label :Email
              = f.email_field :email, placeholder: "email@exampĺe.com", class: "form-control"
            .form-group.col-md-4
              = f.label :Password
              = f.password_field :password, placeholder: "your secret password", class: "form-control", minlength: "4"
            .form-group.col-md-4
              .field
                = f.label :rol
              .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                %label.btn.btn-secondary
                  = f.radio_button :role, 'student', checked: true
                  student
                %label.btn.btn-secondary
                  = f.radio_button :role, 'mentor'
                  mentor
                %label.btn.btn-secondary
                  = f.radio_button :role, 'admin'
                  admin
          .form-row
            .form-group.col-md-4
              = f.label :Nombre
              = f.text_field :name, placeholder: "e.g. Daniel", class: "form-control"
            .form-group.col-md-4
              = f.label :Apellido
              = f.text_field :lastname, placeholder: "e.g. Hernandez", class: "form-control"
            .form-group.col-md-4
              = f.label :"Username" 
              = f.text_field :username, placeholder: "danielHernandez", class: "form-control", maxlength: "16", minlength: "4"
          .form-group
            = f.label :"Programming Skills"
            = f.text_area :knowledge, placeholder: "e.g. rails, ruby, react", class: "form-control"
          %br
          .action.text-right
            = f.submit 'Save', class: "btn btn-md btn-success"


                  

            