%button.btn.btn-secondary.btn-sm{"data-target" => "#modal_show#{user.id}", "data-toggle" => "modal", :type => "button"}
  Show
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal_show#{user.id}", :role => "dialog", :tabindex => "-1", :id => "modal_show#{user.id}"}
  .modal-dialog.modal-lg{:role => "document"}
    .modal-content
      .modal-header
        %h2#exampleModalLabel.modal-title.text-center
          - if user.role == 'admin'
            %p.text-center{:style => "color:purple"} 
              = user.username
          - elsif user.role == 'mentor'
            %p.text-center{:style => "color:blue"}
              = user.username
          - else
            %p.text-center{:style => "color:teal"}
              = user.username
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×      
      .modal-body
        .row
          .col-6
            %img{:alt => "Card image cap", :src => "https://robohash.org/#{user.username}.png?size=258x180"}/
          .col-6
            %h5{:style => "color:gray"} Name
            %span
              = "#{user.name}, #{user.lastname}"
            %h5{:style => "color:gray"} Role
            = user.role
            %h5{:style => "color:gray"} Email
            = user.email
          .col-12
            %br
            %h5{:style => "color:gray"} Programming Skills
            = user.knowledge
            %br
            %br
              
        
            


            