%button.btn.btn-primary.mt-3{"data-target" => "#modal_new_user", "data-toggle" => "modal", :type => "button"}
  New User
.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "modal", :role => "dialog", :tabindex => "-1", :id => "modal_new_user"}
  .modal-dialog.modal-lg{:role => "document"}
    = form_for @user, remote:true do |f|
      .modal-content
        .modal-header
          %h3#exampleModalLabel.modal-title Nuevo usuario
          %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
            %span{"aria-hidden" => "true"} ×
        .modal-body
          .form-row
            .form-group.col-md-4
              %p{"data-placement" => "top", "data-toggle" => "tooltip", :style => "cursor:pointer", :title => "El email debe ser unico y debe tener minimo 8 caracteres"}
                Email
              = f.email_field :email, placeholder: "email@example.com", class: "form-control"
            .form-group.col-md-4
              %p{"data-placement" => "top", "data-toggle" => "tooltip", :style => "cursor:pointer", :title => "minumum 4 characters"}
                Password
              = f.password_field :password, placeholder: "your secret password", class: "form-control", minlength: "4"
            .form-group.col-md-4
              .field
                %p{"data-placement" => "top", "data-toggle" => "tooltip", :style => "cursor:pointer", :title => "Default role: student"}
                  Role
              .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                %label.btn.btn-secondary
                  = f.radio_button :role, 'student', checked: true
                  student
                %label.btn.btn-secondary
                  = f.radio_button :role, 'mentor'
                  mentor
                %label.btn.btn-secondary
                  = f.radio_button :role, 'admin'
                  admin
          .form-row
            .form-group.col-md-4
              %p{"data-placement" => "top", "data-toggle" => "tooltip", :style => "cursor:pointer", :title => "Minimum 3 characters"}
                Name
              = f.text_field :name, placeholder: "e.g. Daniel", class: "form-control"
            .form-group.col-md-4
              %p{"data-placement" => "top", "data-toggle" => "tooltip", :style => "cursor:pointer", :title => "Minimum 3 characters"}
                Lastname
              = f.text_field :lastname, placeholder: "e.g. Hernandez", class: "form-control"
            .form-group.col-md-4
              %p{"data-placement" => "top", "data-toggle" => "tooltip", :style => "cursor:pointer", :title => "Must be unique and have 4 caracters at least"}
                Username
              = f.text_field :username, placeholder: "danielHernandez", class: "form-control", minlength: "4", maxlength: "16"
          .form-group
            Programming Skills
            = f.text_area :knowledge, placeholder: "e.g. rails, ruby, react", class: "form-control"
          %br
          .action
            = f.submit 'Save', class: "btn btn-md btn-success"


                  

            