%div
  .row
    .col-1
    .col-10.justify-content-center
      = form_for @user do |f|
        .form-row
          - if @user.errors.any?
            #error_explanation
              .alert.alert-danger{:role => "alert"}
                %p= "#{pluralize(@user.errors.count, "error")} prohibited this issue from being saved:"
                %ul
                  - @user.errors.full_messages.each do |message|
                    %li= message
        .form-row
          .form-group.col-4
            = f.label :Email
            = f.email_field :email, placeholder: "email@example.com", class: "form-control"
          .form-group.col-4
            = f.label :"Username" 
            = f.text_field :username, placeholder: "DanielHernandez", class: "form-control", maxlength: "16"
          - if (current_user.role == 'admin')
            .form-group.col-4.pl-1
              = f.label :role, style: "display:block"
              .btn-group.btn-group-toggle{"data-toggle" => "buttons"}
                %label.btn.btn-secondary
                  = f.radio_button :role, 'student', checked: true, class: "form-control"
                  student
                %label.btn.btn-secondary
                  = f.radio_button :role, 'mentor', class: "form-control"
                  mentor
                %label.btn.btn-secondary
                  = f.radio_button :role, 'admin', class: "form-control"
                  admin  
          .form-group.col-4
            = f.label :Password
            = f.password_field :password, placeholder: "Your secret password", class: "form-control", minlength: "4"
          .form-group.col-4
            = f.label :Name
            = f.text_field :name, placeholder: "e.g. Daniel", class: "form-control"
          .form-group.col-4
            = f.label :Lastname
            = f.text_field :lastname, placeholder: "e.g. Hernandez", class: "form-control"
          .form-group.col-4  
            = f.label :Password_confirmation
            = f.password_field :password_confirmation, placeholder: "Repeat your password", class: "form-control"
          .form-group.col-12
            = f.label :"Programming Skills"
            = f.text_area :knowledge, placeholder: "e.g. rails, ruby, react", class: "form-control"
        %br
        .form-row.action
          .col-6
            = link_to 'Back', :back, class: "btn btn-secondary"
          .col-6.text-right
            = f.submit 'Save', class: "btn btn-md btn-success"

