.row
  .col-2.mt-5 
    .mt-4.text-right
      = link_to 'back', dispatcher_send_to_url, class:"btn btn-secondary" 
  .col-8
    %h3.text-center All Users
    = render partial: 'partials/cards_users'
    .row
      .col.pagination.pagination-lg.justify-content-center
        = will_paginate @users, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
  .col-2
    .col-2.mt-5
      -# MODAL
      -# = render partial: 'partials/modal_user_new'
      = link_to 'New User', new_user_path, class:"btn btn-primary mt-4" 
