.row
  .col-2
  .col-8
    .modal-content
      .modal-header
        %h2#exampleModalLabel.modal-title.text-center
          - if @user.role == 'admin'
            %p.text-center{:style => "color:purple"} 
              = @user.username
          - elsif @user.role == 'mentor'
            %p.text-center{:style => "color:blue"}
              = @user.username
          - else
            %p.text-center{:style => "color:teal"}
              = @user.username     
      .modal-body
        .row
          .col-6
            %img{:alt => "Card image cap", :src => "https://robohash.org/#{@user.username}.png?size=258x180"}/
          .col-6
            %h5{:style => "color:gray"} Name
            %span
              = "#{@user.name}, #{@user.lastname}"
            %h5{:style => "color:gray"} Role
            = @user.role
            %h5{:style => "color:gray"} Email
            = @user.email
          .col-12
            %br
            %h5{:style => "color:gray"} Programming Skills
            = @user.knowledge
            %br
            %br
          .col-6.text-left
            = link_to 'Back', dispatcher_send_to_url, class: "btn btn-secondary"  
          .col-6.text-right
            -if current_user.id == @user.id
              = link_to 'Edit', edit_user_path(@user), class: "btn btn-info" 
  .col-2 