= render partial: 'partials/calendar'
.row.mt-5
  .col-2
  .col-8
    %h3.text-center Supports accepted by me
    = render partial: 'partials/cards'
  .col-2.mt-5 
    .mt-4
      =link_to 'All requested supports', issues_path, class:"btn btn-primary"
