.container
  .row.justify-content-center
    .col-4  
      .row  
        .col-12
          .card.p-4.mt-5
            .text-center
              = image_tag("hack.svg", size: "200x200")
            .row
              .col-12
                = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
                  .form-group
                    %h1.text-center.font-weight-bold.border-bottom Hack Pair
                    = f.label "email", class: "text-left"
                    = f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control"

                  .form-group
                    = f.label :password, class: "text-left"
                    = f.password_field :password, autocomplete: "off", class: "form-control"


                  - if devise_mapping.rememberable?
                    .field
                      = f.check_box :remember_me
                      = f.label :recuerdame
                  .actions
                    = f.submit "Sign In", class: "col btn btn-primary mt-4"