.row.mt-5
  .col-1
  .col-10.align-items-center
    %a.btn.btn-primary.btn-lg.btn-block{:href => "/users", :style => "color:white"}
      .row.align-items-center
        .col-6.mt-3.mb-2
          %p
            = fa_icon "users 5x", class: "text-right"
        .col-6.text-left
          %h1
            Users
    %a.btn.btn-info.btn-lg.btn-block.mt-5{:href => "/issues", :style => "color:white"}
      .row.align-items-center
        .col-6.mt-3.mb-2
          %p
            = fa_icon "question 5x", class: "text-right"
        .col-6.text-left
          %h1
            Support request
        
  .col-1
