// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";
@import "animate";

#outer-dropzone {
    height: 140px;
  }
  
  #inner-dropzone {
    height: 80px;
  }
  .square{
    background-color: teal;
  }
  .dropzone {
    background-color: #ccc;
    border: dashed 4px transparent;
    border-radius: 4px;
    width: 80%;
    transition: background-color 0.3s;
    width: 100%;
    min-width: 10em;
    white-space: nowrap;
  }
  .nowrap{
    white-space: nowrap;
  }
  .drop-active {
    border-color: #aaa;
  }
  
  .drop-target {
    background-color: #29e;
    border-color: #fff;
    border-style: solid;
  }
  
  .drag-drop {
    display: inline-block;
    box-sizing: border-box;
    z-index: 2;
    color: #fff;
    background-color: #29e;
    border: solid 2px #fff;
  
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px);
  
    transition: background-color 0.3s;
  }
  
  .drag-drop.can-drop {
    color: #000;
    background-color: #4e4;
  }
  
  .scroll{
    overflow-x: auto;
  }
  
  .border-dashed{
    border: 0.15em dashed grey;
  
  }
  
  .newissue{
    transition: 0.4s;
    width: 3em;
    color: grey;
  }
  
  .newissue:hover{
    cursor: pointer;
    transition: 0.5s;
    color: black;
    border-color: black;
  }
  
  