- if user_signed_in?
  .row.align-items-center.navbar-fixed-top-p1{:style => "background:#e5ecec"}
    .col-auto{:style => "height:56px"}
      %a{"data-toggle" => "dropdown", :style => "cursor:pointer"}
        = image_tag("hack.svg", size: "40x56")
        .dropdown-menu{"aria-label" => "dropdownMenuButton"}
          %a.dropdown-item{:href => "https://www.twitter.com/", target: "_blank"}
            = fa_icon "twitter", class: "text-muted text-center"
            Follow us on Twitter !                     
          %a.dropdown-item{:href => "https://www.facebook.com/", target: "_blank"}
            = fa_icon "facebook", class: "text-muted text-center"
            Like us on Facebbok !
          %a.dropdown-item{:href => "https://www.instagram.com/", target: "_blank"}
            = fa_icon "instagram", class: "text-muted text-center"
            Like us on Instagram !
    .col.pl-0.ml-0
      %nav.navbar.navbar-expand-lg.navbar-light.pl-0.ml-0
        #navbarNavDropdown.collapse.navbar-collapse
          %ul.navbar-nav
            %li.nav-item
              %a.nav-link{:href => "/dispatcher/send_to"}
                %div{:style => "cursor:pointer"}
                  = fa_icon "home"
                  Home
              %li.nav-item
                %a.nav-link{:href => "/users/#{current_user.id}"}
                  %div{:style => "cursor:pointer"}
                    = fa_icon "user"
                    Profile
    .col-2.text-right{:style => "font-size:1.25em"}
      %a{"data-toggle" => "dropdown", :style => "cursor:pointer"}
        - if user_signed_in?
          %h6.d-inline
            = current_user.username
          %img{:alt => "Card image cap", :height => "30", :width => "30", :src => "https://robohash.org/#{current_user.username}.png?size=258x180"}/
      .dropdown-menu.text-left.pl-3{:style => "text-decoration:none"}
        = link_to 'Logout', destroy_user_session_path, method: :delete

